body {
  margin: 0;
  height: 100vh;
  font-family: 'Courier New', Courier, monospace;
  background: lightsalmon;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  background: rgba(255, 255, 255, 0.3);
  padding: 28px;
  border-radius: 10px;
  box-shadow: 0 5px 9px rgba(0, 0, 0, 0.3);
  width: 90%;
  max-width: 450px;
  text-align: center;
  /* margin: 10px; */
  font-size: 18px;
  font-weight: 500;
}

h1 {
  font-size: 30px;
}

input {
  width: 80%;
  padding:  18px 20px;
  font-size: 16px;
  border: 1px solid #afa8a8;
  margin: 15px 0;
  font-family: 'Courier New', Courier, monospace;
  border-radius: 5px;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.2);
  outline: 0;
  background: rgba(255, 255, 255, 0.6)
}

input:hover {
  border: 1px solid lightgrey;
}

p {
  font-size: 20px;
}

.meaning-container {
  display: none;
}